nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: color-mix(in srgb, red 40%, yellow 60%);
    
}

.logo{
    border: 1px;
    border-radius: 15px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.logo:hover{
    color: black;
    background-color: white;
}

ul{
    display: none;
    list-style: none;
}

li{
    float: left;
    padding: 20px;
}

a{
    padding: 7px;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}

.body{
    margin: 0;
    min-height: 100vh;
    background-color: color-mix(in srgb, red 60%, yellow 40%);
}

.menu-btn{
    padding-top: 10px;
    display: block;
}

.menu-btn:hover{
    background-color: white;
    color: black;
    border-radius: 50px;
}

.show{
    display: flex;
}
