body {
    background-color: #f0f2f5;
    margin: 2;
    padding: 40px 0;
    font-family: "UnifrakturMaguntia", "Old English Text MT", "Centuria", fantasy;
    font-size: 12pt;
    line-height: 1.6;
    color: #000000;
}

.letter-page {
    background-color: bisque;
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    padding: 1in; 
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.head{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.recipient-info {
    margin-bottom: 30px;
}

.subject {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.salutation {
    margin-bottom: 15px;
}

.body-text p {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 0.5in;
}

.closing {
    margin-top: 40px;
}

.signature-name {
    font-weight: bold;
}


@media print {
    body {
        background-color: transparent;
        padding: 0;
        margin: 0;
    }

    .letter-page {
        box-shadow: none;
        margin: 0;
    }

    @page {
        size: letter;
        margin: 0;
    }
}
